.title {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  color: #f1f1f1;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
}
.title:hover {
  color: #ffe174;
  text-decoration: none;
}
.newsletter-error::before {
  bottom: -1rem;
  top: unset;
  border: 0;
  background: transparent;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 100%;
}

#newsletter-form .loading {
  font-size: 2rem;
  display: none;
}
